/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 16px; /* Adjust font size for better readability */
}

#cameraListTitle {
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 15px; /* Add space below the title */
}

#addCameraForm {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between input and button */
    margin-bottom: 20px; /* Add space below the form */
}

#ipAddress {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border-radius: 5px;
}

#ipAddress::placeholder {
    color: #b0b0b0; /* Placeholder color */
}

#ipAddress:focus {
    outline: none;
    background-color: #3c3c3c; /* Change background color on focus */
}

/* Style for the Add Camera button */
#addCameraForm button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#addCameraForm button:hover {
    background-color: #3c3c3c;
}

.name-ip-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Auto-hiding toolbar */
.toolbar {
    position: fixed;
    top: 0;
    left: -300px; /* Adjusted to the new width */
    width: 300px; /* Increased width */
    height: 100%;
    background-color: #1e1e1e;
    transition: left 0.6s ease;
    z-index: 1000;
    padding: 20px 10px;
    box-sizing: border-box;
    border-right: 2px solid #303030;
}

.toolbar.visible {
    left: 0;
}

.toolbar-hover-area {
    /*background-color: rgba(255, 0, 0, 0.2); /* Red for debugging */
    position: fixed;
    top: 0;
    left: 0;
    width: 10px; /* Ensure it's wide enough to detect the hover */
    height: 100%;
    z-index: 999;
}


/* Camera container */
.camera-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* Draggable elements */
.draggable {
    position: absolute;
    cursor: move;
    border: 1px solid #ccc;
    background-color: transparent;
    overflow: hidden; /* Ensures image fits within the div */
}

/* Camera stream image */
.camera-stream {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the aspect ratio is maintained */
    display: block;
}




/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

/* Camera Label */
.camera-label {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    z-index: 3; /* Ensure it appears above other overlay elements */
    pointer-events: auto; /* Allow label to be clickable */
}

/* Styles for camera list in toolbar */
.camera-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.camera-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; /* Add some padding for the items */
    margin-bottom: 10px; /* Add space between each camera item */
}

.camera-item .camera-name {
    flex: 2; /* Allow the name to take up more space */
    padding-right: 10px; /* Add space between name and IP */
    text-align: left; /* Align names to the left */
    color: #e0e0e0;
}

.camera-item span {
    flex-grow: 1;
    color: #e0e0e0;
}

.camera-item .camera-ip {
    flex: 1; /* IP address takes up less space */
    text-align: right; /* Align IPs to the right */
    color: #b0b0b0; /* Slightly different color for IP */
}

.remove-camera {
    margin-left: 10px; /* Add some space between IP and the button */
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.remove-camera:hover {
    color: darkred;
}

/* Resize Handle */
.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: se-resize; /* Southeast resize cursor */
}

/* Styles for buttons at the bottom of the toolbar */
.toolbar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below for camera list */
}

.toolbar-buttons button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.toolbar-buttons button:hover {
    background-color: #3c3c3c;
}

/* Messages button container at the bottom of the toolbar */
.messages-button-container {
    position: absolute;
    bottom: 100px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
}

.messages-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.messages-button:hover {
    background-color: #3c3c3c;
}

/* x32 button container at the bottom of the toolbar */
.x32-button-container {
    position: absolute;
    bottom: 145px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
}

.x32-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.x32-button:hover {
    background-color: #3c3c3c;
}



.hidden-camera {
    text-decoration: line-through;
    font-style: italic;
}

/* Make the scene label appear clickable */
.clickable-label {
    cursor: pointer;
    text-decoration: underline;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

#sceneLabel {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 1000; /* Ensure it's on top */
    cursor: pointer;
    text-decoration: underline;
}

.modal-content {
    background-color: #1e1e1e;
    margin: 10% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    color: #e0e0e0;
    border-radius: 5px;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #ffffff;
    text-decoration: none;
}

#sceneList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#sceneList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #303030;
}

#sceneList li:hover {
    background-color: #2c2c2c;
}

/* Battery icon styles */
.battery-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    object-fit: contain;
    background-size: 100% 100%;
    border-radius: 3px;
    padding: 2px 2px;
    background-color: rgba(172, 172, 172, 0.5); /* Semi-transparent background */
}

.battery-charging {
    background: url('/static/images/battery_charging.png') no-repeat center center;
}

.battery-full {
    background: url('/static/images/battery_100.png') no-repeat center center;
}

.battery-75 {
    background: url('/static/images/battery_75.png') no-repeat center center;
}

.battery-50 {
    background: url('/static/images/battery_50.png') no-repeat center center;
}

.battery-25 {
    background: url('/static/images/battery_25.png') no-repeat center center;
}

.battery-empty {
    background: url('/static/images/battery_empty.png') no-repeat center center;
}

.refresh-icon {
    position: absolute;
    top: 5px;
    right: 50px; /* Adjust this to position it next to the battery icon */
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgba(172, 172, 172, 0.5);
    border-radius: 50%;
    padding: 2px;
    z-index: 4; /* Ensures it appears above other elements */
}

.refresh-icon:hover {
    opacity: 0.8; /* Slight hover effect */
    transform: scale(1.1); /* Slight zoom on hover */
}


.record-icon, .stop-icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-left: 10px;
}

.record-icon:hover, .stop-icon:hover {
    opacity: 0.8;
    transform: scale(1.1); 
}

.lock-button-container {
    position: absolute;
    bottom: 60px; /* Place it just above where the messages button is or adjust as needed */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.lock-button-container img {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

.lock-button-container img:hover {
    filter: brightness(1.0);
    transform: scale(1.05);
}
